* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fade {
  opacity: 0.2;
  transition-duration: 500ms;
}

body {
  height: 100svh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    135deg,
    rgba(160, 231, 229, 1) 0%,
    rgba(180, 248, 200, 1) 100%
  );

  font-family: 'DynaPuff', cursive;
  font-weight: 400;
  font-size: 7vmin;
}

.relative-container {
  display: contents;
}

.game-container {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  place-items: center;
  place-content: center;

  width: min(50vh, 90%);

  gap: 1rem;
  background-image: url('../imgs/grid.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.cell {
  display: grid;
  place-items: center;

  width: 100%;
  height: 100%;
  user-select: none;

  background-color: transparent;

  font-size: min(20vmin, 12vh);
}

h1 {
  font-size: inherit;
}

h2 {
  font-size: 1rem;
}

.control-container {
  display: flex;
}

.player {
  display: flex;
}

.restart {
  position: absolute;

  padding: 0.3rem 3rem;
  border: none;
  border-radius: 2vmin;

  background-color: #ffaebc;
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;

  display: none;
}

.restart:active {
  scale: 1.05;
}

.restart:focus {
  border: none;
}

.on {
  transition: 300ms;
  display: inline;
}

@media (hover: hover) {
  .restart:hover {
    filter: brightness(1.1);
  }
}

.omark {
  background-image: url('../imgs/omark.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.xmark {
  background-image: url('../imgs/xmark.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.results {
}
