/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TYPOGRAPHY ELEMENTS */

h1 {
  font-size: inherit;
}

h2 {
  font-size: 1rem;
}

/* LAYOUT */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: min(0.5rem, 1vmin);

  height: 100svh;

  background: linear-gradient(
    135deg,
    rgba(160, 231, 229, 1) 0%,
    rgba(180, 248, 200, 1) 100%
  );

  font-family: 'DynaPuff', cursive;
  font-weight: 400;
  font-size: 7vmin;
}

.relative-container {
  display: contents;
}

.game-container {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  place-items: center;
  place-content: center;

  width: min(50vh, 90%);

  gap: 1rem;
  background-image: url('../imgs/grid.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.control-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  width: min(50vh, 90%);
  padding: 1vmin;
}

/* COMPONENTS */

.cell {
  display: grid;
  place-items: center;

  width: 100%;
  height: 100%;

  background-color: transparent;

  font-size: min(20vmin, 12vh);

  user-select: none;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(0.5rem, 1vmin);
}

.wins {
  font-size: 1rem;
}

.player-marker {
  display: grid;
  place-items: center;

  height: min(4rem, 10vmin);
  width: min(4rem, 10vmin);

  font-size: min(3rem, 8vmin);
}

.swap {
  align-self: center;
  flex: 0 1 0;

  padding: min(1rem, 4vmin) min(3rem, 6vmin);
  border: none;
  border-radius: min(1rem, 2vmin);
  background-color: #ffaebc;

  font-size: calc(1rem + 0.5vmin);
}

.turn {
  background-color: rgb(255, 255, 125);
  border-radius: 100px;
}

.restart {
  padding: 0.3rem 3rem;
  border: none;
  background-color: #ffaebc;
  border-radius: 2vmin;

  font-size: inherit;
  font-weight: 700;
}

button {
  font-family: inherit;
}

button:active {
  scale: 1.05;
}

.restart:focus {
  border: none;
}

.post-game {
  position: absolute;
  display: none;
}

.o::before {
  content: 'O';
}

.x::before {
  content: 'X';
}

.max-content {
  width: max-content;
  display: block;
}

.signature {
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  color: black;
}

a {
  text-decoration: none;
  color: blue;
}

@media (hover: hover) {
  button:hover {
    filter: brightness(1.1);
  }
}

/* UTILITY */

.hidden {
  visibility: hidden;
}

.fade {
  pointer-events: none;
  opacity: 0.1;
  transition-duration: 300ms;
}

.on {
  display: flex;
  flex-direction: column;
  align-items: center;
}
